##
# @package      Elxis
# @copyright    Copyright (c) 2006-2011 Elxis CMS (http://www.elxis.org). All rights reserved.
# @license      Elxis Public License ( http://www.elxis.org/elxis-public-license.html )
# @author       Elxis Team ( http://www.elxis.org )
# @description  Elxis CMS is free software. Read the license for copyright notices and details
##

order allow,deny
deny from all